@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #ffffff;
}

.sidebar {
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 15%;;
}

.sidebar ul {
    margin-top: 40%;
    list-style-type: none;
    padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.Mark {
    width: 500px;
    background: #1e1e1e;
    margin-left: 50px;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Mark h2 {
    color: #bb86fc;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.Mark .input-box {
    margin-top: 20px;
}

.Mark .input-box span {
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

.Mark .input-box input,
.Mark .input-box select {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #ffffff;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 0 15px;
}

.Mark .column {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    margin-top: 20px;
}

.Mark .button {
    text-align: center;
    margin-top: 30px;
}

.Mark .button input {
    height: 45px;
    width: 100%;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #bb86fc;
    cursor: pointer;
}

.Mark .button input:hover {
    background: purple
}
