
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remember-forgot label {
    color: #aaa;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    background-color: #bb86fc;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: purple;
}
a{
    color: #bb86fc;

}



.main-content {
    margin-left: 200px;
    padding: 20px;
}

@media(max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .main-content {
        margin-left: 100px;
    }
}
